* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  background-color: #7e7e7e56;
  backdrop-filter: blur(0.625rem);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#banner {
  display: flex;
}

#banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.logo {
  width: 9rem;
  margin-right: 12rem;
}

body {
}

#list {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

a {
  text-decoration: none;
}

#hero {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

#hero button {
  cursor: pointer;
}
